
<div class="wrapper" style="background-image: url(./assets/img/pki.png); margin-top: -2px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
            <div class="sidebar-background" style="background-image: url(./assets/img/pki.png)"></div>
            <div class="logo">
                <a   class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/pki.png" />
                    </div>
                    Certifications
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/register']" > <i class="material-icons">person_add</i>
                            <p style="color: green; font-weight: 500;">Register</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link sidebar-1" [routerLink]="['/login']"> <i
                                class="material-icons">person_pin</i>
                            <p style="color: green; font-weight: 500;">Log in</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>


    <div style="margin-left:300px; margin-top:50px; padding:10px; background-color: rgb(255, 255, 255)">
       
    <h1>Register</h1>
    <form (ngSubmit)="onSubmit()" #pacijentForm="ngForm">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" required name="name" #ime="ngModel"  [(ngModel)]="korisnik.name" [ngClass]="{'form-control':true,
                    'is-invalid': !ime?.valid && !name?.touched,
                    'is-valid': name?.valid && name?.touched}" ></td>
                    <td *ngIf="name?.errors?.required && name?.touched"> Requierd field
                    </td>
               
            </tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" required name="lastName" #prezime="ngModel"  [(ngModel)]="korisnik.lastName" [ngClass]="{'form-control':true,
                    'is-invalid': !lastName?.valid && !lastName?.touched,
                    'is-valid': lastName?.valid && lastName?.touched}" ></td>
                    <td *ngIf="lastName?.errors?.required && lastName?.touched"> Requierd field
                    </td>
            </tr>
            <tr>
                    <td>Email</td>
                   <td><input type="email" required name="email" #email="ngModel" [(ngModel)]="korisnik.email" [ngClass]="{'form-control':true,
                                'is-invalid': !email?.email && !email?.touched,
                                'is-valid': email?.valid && email?.touched}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></td>

                        <td *ngIf="email?.errors?.required && email?.touched"> Requierd field</td>
                        <td *ngIf="email?.errors?.pattern && email?.touched"> E-mail not valid</td>
                </tr>
                <tr>
                        <td>Password</td>
                        <td><input type="password" required name="password" #password="ngModel" [(ngModel)]="korisnik.password" [ngClass]="{'form-control':true,
                            'is-invalid': !password?.valid && !password?.touched,
                            'is-valid': password?.valid && password?.touched}" minlength="8"></td>
                        <td *ngIf="password?.errors?.required && password?.touched"> Requierd field</td>
                        <td *ngIf="password?.errors?.minlength && password?.touched"> Password must contain at least 8 characters</td>
                    </tr>
               
                <input type="checkbox" class="btn btn-info" id="korisnikUser" name="korisnikUser" value="KorisnikUser" (change)="toggleUserReg($event)">
                <label>Register simple user</label>
                         <tr>
                            
                            <td><input class="btn waves-effect waves-light pink accent-2" type="submit" value="Register"></td>
                                </tr>
        </table>
    </form>
    
</div>
</div>
