<div class="wrapper" style="background-image: url(./assets/img/pki.png); margin-top: -2px; ">
    <div>
        <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
            <div class="sidebar-background" style="background-image: url(./assets/img/pki.png)"></div>
            <div class="logo">
                <a  class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/pki.png" />
                    </div>
                    Certifications
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/certificate']" > <i class="material-icons">person_add</i>
                            <p style="color: green; font-weight: 500;">New certificate</p>
                        </a>
                    </li>
                    <li  ng-click="func()" routerLinkActive="active" class="nav-item">
                        <a  ng-click="func()"  class="nav-link sidebar-1" [routerLink]="['/allcertificates']" > <i class="material-icons">person_add</i>
                            <p style="color: green; font-weight: 500;">All certificates</p>
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a (click)="logout()"  class="nav-link sidebar-1" [routerLink]="['/logout']"> <i
                                class="material-icons">person_pin</i>
                            <p style="color: green; font-weight: 500;">Log out</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>

</div>